/* keep unread button from overlaying on top of the call/game ui */
[class^=unreadMentionsIndicatorBottom] {
    z-index: 2;
}

/* make profile button use the entire space on the bottom left */
[class^=avatarWrapper] {
    width: -webkit-fill-available;
}

/* round server banner */
[class^=animatedContainer] {
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
}

/* align personal profile properly */
[class^=accountProfilePopoutWrapper] {
    /* tested on various screen sizes */
    left: -5px;
}

/* remove coloring that would mess up rounding */
[class^=layer_] {
  background: unset;
}

/* re-add that left side "padding" as margin when the settings menu is open */
[class^=layer] + [class^=layer] {
    margin-left: var(--custom-margin-margin-small);
}

/* adjust server list bottom padding to fit ui better */
.visual-refresh [class*=guilds] {
    padding-bottom: calc(var(--custom-app-panels-height,5px) - 5px);
}

/* round unrounded corners of channel list, dms list and settings menu to match theme */
.container_ee69e0,
.visual-refresh [class^=sidebar],
[class^=privateChannels],
[class^=layer],
[class^=standardSidebarView] {
    border-radius: var(--radius-sm);
}

/*
  make sure call and current active game ui is properly rounded
  and make server list bottom padding space transparent to match theme
*/
.theme-dark.custom-theme-background .container_adcaac,
.theme-light.custom-theme-background .container_adcaac,
.theme-dark .panel_bf1a22,
.theme-light .panel_bf1a22,
.visual-refresh .wrapper_fea3ef
{
    background: transparent none repeat 0 0/auto auto padding-box border-box scroll;
}

/* fix color scheming with themes */
.visual-refresh [class^=privateChannels],
.visual-refresh .container_ee69e0,
.visual-refresh .scroller_c47fa9 {
    background: var(--bg-overlay-3,var(--background-secondary));
}

/* remove left-side padding so unread badges fit the corner */
.visual-refresh [class^=appAsidePanelWrapper] {
    padding-left: unset;
}

/* resize mini profile holder to match channel list */
.visual-refresh [class^=panels] {
    width: 303px; /* is also normally an arbitrary value */
}

/* fix unread badges on icons on the top right */
svg:has(+ [class^=iconBadge]) > foreignObject > svg {
    /*
    currently not otherwise possible to fix to my knowledge
    without adding another element
    */
    position: absolute;
    left: 4px;
    top: 4px;
}

/* make ui padding color match theme */
#app-mount {
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
}